body{
	background-color: #f5f5f5;
	padding: 0 15px;
}

.payForm{
	max-width: 840px;
    margin: 30px auto;
	border-color: #d0d0d0;
}

.payLegend{
	padding-bottom: 5px;
	border-color: #d0d0d0;
}

.input-group-addon:first-child{
	min-width: 41px;
}

.payFormHS{
	/* display: none; */
}

.payFormHS .control-label{
	padding-top: 0;
	padding-right: 0;
}

.payFormHS .inputGroupContainer>span{
	background: #fff;
	display: block;
	padding: 0 10px;
}