.sb-search {
	display: inline-block;
	position: absolute;
	width: 0%;
	min-width: 35px;
	height: 30px;
	top: -5px;
	right: -27px;
	overflow: hidden;
	/* border-radius: 5px; */
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	/* box-shadow: 0px 3px 5px #bbbbbb; */
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: transparent;
	margin: 0;
	z-index: 10;
	padding: 5px 45px 5px 10px;
	font-family: inherit;
	color: #2c3e50;
	/* border: solid 1px #ababab; */
	/* border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; */
	width: 240px;
}

.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}

.sb-search-input:-moz-placeholder {
	color: #efb480;
}

.sb-search-input::-moz-placeholder {
	color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
	width: 35px;
	height: 28px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: transparent; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	/* color: #fff;
	background: #e67e22; */
	z-index: 90;
	font-size: 18px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	background: transparent;
}

.sb-search-open .sb-search-input{
    background: #fff;
}


/* Open state */
.sb-search.sb-search-open{
	position: absolute;
    width: 240px;
    right: -27px;
}

.sb-search.sb-search-open .sb-icon-search{
	/* background: #da6d0d;
	color: #fff; */
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit{
	z-index: 90;
}


.obNav{
	float: none;
	margin-left: 10px;
	background: #cfcfcf;
	border-color: #a7a7a7 !important;
}

.logoLinkXS{
	position: relative;
	
}

.logoLinkXS>.sb-search{
	position: absolute;
	right: 0;
	top: -9px;
	min-width: 40px;
	height: 34px;
}

.logoLinkXS .sb-search-input{
	padding: 6px 45px 6px 10px;
}

.logoLinkXS .sb-icon-search, .logoLinkXS  .sb-search-submit{
	width: 40px;
	height: 34px;
	line-height: 34px;
	font-size: 22px;	
}

.innerDivCell>.logoLink:last-child{
	position: relative;
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}