.rpswd .modal{
    position: relative;
    z-index: 0;
}
   
.rpswd .modal-body{
	overflow: auto;
}

.rpswd .modal-header{
	color: #ef7f1b;
}

.rpswd .modal-header h2{
	margin-top: 10px;
    margin-bottom: 5px;
}

.rpswd .input-lg{
	height: 36px;
	font-size: 16px;
}