body{
	background: #fff;
}

.img-responsive{
    display: inline-block;
}


/* Start Off Canvas */
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu-default, .navbar-default .leftNavFixed{
	border:none;
	background: #CFCFD9;
	box-shadow: 0 0px 5px #AFAFAF;
}

.navbar-fixed-top{
	box-shadow: none !important;
}


@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}


.ppWrapMB{
	width: auto;
	max-width: 934px;
	padding: 0 15px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
}

.mbHeadDiv{
	padding: 0;
    margin-bottom: 10px;
}

.mbHeadDiv .glyphicon-arrow-left{
	font-size: 16px;
    vertical-align: middle;
}

.uprofile{
	margin-left: 5px;
	vertical-align: middle;
}

.mbBshelf{
    display: inline-block;
    border-right: solid 1px #D0CED9;
    padding-right: 13px;
    margin-right: 8px;
}

.mbManage{
	display: inline-block;
    vertical-align: bottom;
	line-height: 1;
}

.mbManage .list-inline{
	margin: 0;
}

.mbManage .list-inline>li{
    padding-right: 8px;
    padding-left: 0;
    border-right: solid 1px #D0CED9;
    margin-right: 5px;
}

.mbManage .list-inline>li:hover, .mbManage .list-inline>li:focus{
	color: #EE8834;
}

.mbManage .list-inline>li:last-child{
	border-right: none;
}

.mBooksTxt{
	font-size: 18px;
    margin-bottom: 8px;
}

.xsmBooksTxt{
	font-size: 14px;
}

.rightIcons1{
	display: inline-block;
    vertical-align: bottom;
}



.aTable1>thead>tr>th{
    border-bottom: solid 2px #EBEBEB;
    border-right: solid 2px #EBEBEB;
    background: #8C8C8C;
	color: #fff;
	font-size: 13px;
}

.aTable1>tbody>tr>td{
	border-bottom: solid 2px #EBEBEB;
    border-right: solid 2px #EBEBEB;
}

.aTable1>thead>tr>th:last-child, .aTable1>tbody>tr>td:last-child{
	border-right: none;
}

.aTable1>tbody>tr:nth-of-type(odd){
	background: #D7D7D7;
}

.aTable1>tbody>tr:nth-of-type(even){
	background: #CCCCCC;
}

.aTable1>tbody>tr:last-child>td{
	border-bottom: none;
}

.aTable1>thead>tr>th:first-child, .aTable1>tbody>tr>td:first-child,
.abTable1>tbody>tr>td:last-child, .abTable1>tbody>tr>td:nth-last-child(2){
	text-align: center;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 6px 8px;
}

.plusSup{
	font-size: 17px;
	font-weight: 700;
}

.ndEco{
	padding: 5px 0;
	display: table;
}

.ndEco1{
	padding: 10px 15px;
    padding-bottom: 20px;
    border-top: solid 1px #bebebe;
    background-color: #ebebeb;
    border-radius: 0 0 25px 25px;
	margin-bottom: 20px;
}

.ndEco2{
	border-bottom: solid 1px #cecece;
    margin-bottom: 2px;
}

.aoGraphBox{
	display: table;
	width: 100%;
}

.aoGraphBox2{
	background-color: #cfcfd9;
	padding: 0 10px 10px 10px;
	text-align: right;
	font-size: 13px;
}

.aoGraphBox2 .dropdown-toggle{
	cursor: pointer;
}

.aoGraphBox2 .dropdown-menu{
	right: 0;
	left: auto;
	font-size: 13px;
	min-width: 140px;
}

.aoGraphBox2 .dropdown-menu>li>a{
	padding: 3px 12px;
}

.abBox1{
	margin-top: 10px;
}

.abTab{
	display: table;
	width: 100%;
	padding: 0 30px;
	margin-top: 20px;
}

.abTabCell{
	display: table-cell;
	vertical-align: middle;
	color: #7e7c7d;
}

.aoTabCellL{
	text-align: center;
    width: 16%;
    padding-right: 20px;
}

.abTabBox{
	width: 140px;
	border-left: solid 2px #b8b8b8;
	background-color: #c6c5ca;
	color: #303030;
	display: inline-block;
	margin-right: 10px;
	padding: 12px 10px;
}

.abTabBox2{
	width: 116px;
	border-left: solid 2px #8c8c8c;
    background-color: #a9a9ab;
	color: #303030;
	display: inline-block;
	margin-right: 10px;
	padding: 10px;
	line-height: 1.2;
}

.abTabBox3{
	width: 116px;
	border-left: solid 2px #8c8c8c;
	background-color: #fff;
	color: #303030;
	display: inline-block;
	margin-right: 10px;
	padding: 10px;
	line-height: 1.2;
}

.abBoxTxt1{
	font-weight: 700;
    font-size: 13px;
    margin-bottom: 3px;
}

.abBoxTxt2{
	font-size: 22px;
    font-weight: 700;
}

.abTabImg{
	display: inline-block;
    margin-right: 10px;
}

.abTabRBox{
	display: inline-block;
    vertical-align: middle;
	text-align: left;
}

.abTabRBox>.abBoxTxt1{font-size: 14px;}
.abTabRBox>.abBoxTxt2{line-height: 1; font-size: 35px;}

.mgLeftPart{
    display: table-cell;
    vertical-align: middle;
}

.mgLeftPart2{
    display: table-cell;
    vertical-align: middle;
	border-bottom: solid 1px #ef7f1b;
    padding-bottom: 4px;
}

.npDivWidth1{
	/* width: 108px; */
	max-width: 140px;
    float: left;
	margin-right: 10px;
}

.goBtnForm1{
	float: left;
	padding: 2px 0;
}

.goBtnForm2{
	float: left;
	margin-right: 1%;
}

.npBtn1, .npBtn1:hover, .npBtn1:focus, .npBtn1:active{
	font-size: 14px;
    padding: 6px 12px;
    background: #EF7F1B !important;
    color: #fff !important;
    border: none;
	outline-color: transparent !important;
	vertical-align: middle;
}

.npBtn1>.fa-lock{
	font-size: 18px;
	vertical-align: middle;
	margin-right: 5px;
	color: #313332;
}

.npBtn2, .npBtn2:hover, .npBtn2:focus, .npBtn2:active{
	width: 120px;
	font-size: 13px;
    font-weight: 700;
	background: #00A74E !important;
    padding: 3px 12px;
	outline-color: transparent !important;
}

.npBtn3, .npBtn3:hover, .npBtn3:focus, .npBtn3:active{
	font-size: 13px !important;
}

.npBtn4, .npBtn4:hover, .npBtn4:focus, .npBtn4:active{
	font-size: 13px;
    padding: 3px 12px;
    background: #363636 !important;
    color: #fff !important;
    font-weight: 700;
    border: none;
	outline-color: transparent !important;
}


.npDivWidth1 .form-control{
    height: auto;
	padding: 2px 8px;
	font-size: 13px;
}


.mgRightPart{
	display: table-cell;
    vertical-align: middle;
	text-align: right;
}

.mgRightPart>.pagination{
	margin: 0;
	vertical-align: middle;
}

.mgRightPart>.pagination>li>a{
	padding: 3px 10px;
	background-color: transparent;
	border: none;
	color: #000;
    font-weight: 700;
	border-radius: 0;
}

.mgRightPart>.pagination>li>a:hover, .mgRightPart>.pagination>li>a:focus{
	color: #F07E1E;
}

.mgRightPart>.pagination>li:first-child>a, .mgRightPart>.pagination>li:last-child>a{
	color: #fff;
	background: #EF7F1B;
}

.mgRightPart>.pagination>li:first-child>a:active, .mgRightPart>.pagination>li:last-child>a:active{
	box-shadow: inset 3px 6px 10px -6px #777;
}


.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
	padding: 3px 6px;
    height: 28px;
    font-size: 13px;
}


.stylish-input-group button:active, .stylish-input-group button:focus{
	outline-color: transparent;
}

.stylish-input-group button:active .glyphicon-search{
	color: #000;
	top: 2px;
}

.npOuterBox{
	background: #fff;
    border: solid 1px #D0CED9;
}

.npBooktitle1{
	font-weight: 700;
    font-size: 15px;
    margin: 10px 0;
}

.npTitleDiv1 p{
    font-size: 13px;
    color: #808080;
	margin-bottom: 5px;
}

 .rating {
    float:left;
    border:none;
}
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:18px;
    line-height:1;
    color:#333333;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #F17F1C;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}

.npIconPC{
	float: right;
    font-size: 15px;
}

.npIconPC .fa-pencil{
	margin-right: 10px;
	font-size: 18px;
    color: #4A4A4A;
}

.npIconPC sup{
    margin-right: 5px;
    font-style: italic;
    color: #808080;
}

.npBtmdiv{
    background: #CFCFD9;
    font-size: 13px;
    color: #676781;
}

.mgRightPart2{
	width: 100%;
    margin-top: 30px;
    display: block;
    text-align: center;
}

.footer2a{
	position: fixed;
    bottom: 0;
}

.modHead1{
	padding-bottom: 0;
    border: none;
}

.modHead1>.close{
	font-size: 25px;
}

.modHead1>.modal-title{
	font-size: 17px;
    font-weight: 700;
}

.modBody1{
    padding-top: 8px;
	padding-bottom: 8px;
}

.modForm1{
	padding-top: 15px;
	border-top: 1px solid #e5e5e5;
}

.mgForm1{
	border: none;
    box-shadow: none;
    background: #EBEBEB;
}

.mgTextArea1{
    min-width: 100%;
    max-width: 100%;
}

.modFoot1{
	border: none;
    padding-top: 0;
	padding-bottom: 30px;
}

.ndBtn1, .ndBtn1:hover, .ndBtn1:active, .ndBtn1:focus {
    padding: 3px 6px;
    font-size: 13px;
    color: #EC9148 !important;
    font-weight: 700;
    background: transparent;
    outline-color: transparent !important;
}

.uProIco{
	font-size: 85px;
    background-color: #bebebe;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    padding: 16px;
}

.ppTabCellR1, .ppTabCellR2{
	margin-bottom: 5px;
	font-size: 18px;
}

.ppTabCellR3{
	margin-bottom: 15px;
	font-size: 18px;
}

.ppSpn1{
	margin-left: 6px;
}

.ppSpn2, .ppSpn3{
	margin-left: 6px;
	font-size: 13px;
}

.abTabCell .glyphicon, .abTabCell .fa{
	vertical-align: middle;
}




@media(max-width:767px) {
	body{
		padding-top: 0 !important;
	}
}

@media(max-width:500px) {
	.uProIco{
		font-size: 70px;
		width: 100px;
		height: 100px;
	}
	.ndEco1{
		padding: 0;
		padding-top: 10px;
		border-radius: 0;
	}
	
	.aoTabCellL{
		display: block;
		width: 100%;
		padding: 0 20px;
		margin-bottom: 15px;
	}
	
	.uProIco{
		box-shadow: 1px 1px 6px #333;
	}
	
	.aoTabCellR{
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 10px 20px;
		background: #cecece;
		color: #333;
	}
}