html{
	width: 100%;
    height: 100%;
	overflow: hidden;
}

body{
	position: relative;
	width: 100%;
    height: 100%;
	background: #000;
	background: #EEEEF4;
	color:#999;
	font-family: 'Open Sans', sans-serif;
}

a {
	display: block;
}

.padd0{
	padding-left: 0;
	padding-right: 0;
}


h1{
  font-weight:700;
  font-size:27pt;
  color:#ef7f1b;
}

p{font-weight:300;}

.warning-content {
	position:absolute;
	top:25%;
	width:100%;
	height:300px;
	text-align:center;
	margin:0;
}

@media(max-width:767px) {
	.warning-content{
		top: 20%;
	}
}