<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <sessionState timeout="60" />
    </system.web>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>

		<rewrite>
	  <rules>
		 <rule name="rule 1c">
	       <match url="^index.html$"  />
	       <action type="Rewrite" url="/index.php"  />
         </rule>
		 <rule name="rule 2c">
	       <match url="^features.html$"  />
	       <action type="Rewrite" url="/features.php"  />
         </rule>
		 <rule name="rule 3c">
	       <match url="^aboutus.html$"  />
	       <action type="Rewrite" url="/aboutus.php"  />
         </rule>
		 <rule name="rule 4c">
	       <match url="^ourteam.html$"  />
	       <action type="Rewrite" url="/ourteam.php"  />
         </rule>
		 <rule name="rule 5c">
	       <match url="^contactus.html$"  />
	       <action type="Rewrite" url="/contactus.php"  />
		  </rule>
		  <rule name="rule 6c">
	       <match url="^feedback.html$"  />
	       <action type="Rewrite" url="/feedback.php"  />
          </rule>
		  <rule name="rule 7c">
	       <match url="^bookshelf.html$"  />
	       <action type="Rewrite" url="/bookshelf.php"  />
		  </rule>
		  <rule name="rule 8c">
	       <match url="^mybookshelf.html$"  />
	       <action type="Rewrite" url="/mybookshelf.php"  />
          </rule>
		  <rule name="rule 9c">
			<match url="^subscription(.*)/(.*)\.html"  />
			<action type="Rewrite" url="/subscriber_page.php?title={R:1}&amp;id={R:2}"  />
		  </rule>
		  <rule name="rule 10c">
	       <match url="^modify_booknotes.html$"  />
	       <action type="Rewrite" url="/modify_booknotes.php"  />
          </rule>
		  <rule name="rule 11c">
	       <match url="^manageBooks.html$"  />
	       <action type="Rewrite" url="/manageBooks.php"  />
          </rule>
		  <rule name="rule 12c">
	       <match url="^manageGroups.html$"  />
	       <action type="Rewrite" url="/manageGroups.php"  />
          </rule>
		  <rule name="rule 13c">
			<match url="reader(.*)/(.*)\.html"  />
			<action type="Rewrite" url="/reader.php?id={R:1}"  />
		  </rule>
	</rules> 
	</rewrite>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="216.15.194.90" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
